@tailwind base;
@tailwind components;
@tailwind utilities;

.post-content {
  font-family: sans-serif;
  line-height: 1.7;
}

/* Paragraph spacing */
.post-content p {
  margin-top: 0.25rem;
  margin-bottom: 1.25rem; /* Good spacing between paragraphs */
  font-size: 1rem;
}

/* Strong, bold heading with good spacing below */
.post-content h1 {
  font-size: 2rem; /* text-3xl */
  font-weight: 800; /* More bold */
  margin-top: 2.5rem;
  margin-bottom: 1.5rem; /* Gap between heading and p */
  line-height: 1.4;
}

.post-content h2 {
  font-size: 1.75rem; /* Between text-2xl and 3xl */
  font-weight: 700; /* More bold than before */
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  line-height: 1.5;
}

.post-content h3 {
  font-size: 1.5rem; /* text-xl+ */
  font-weight: 700;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}

.post-content a{
    color: rgb(73. 149, 199);
    text-decoration: none;
}
